.header {
  width:852px;
  height:64px;
  background-color:#4689FF;
}

.header-logo {
  float:left;
  color:white;
  padding:10px;
  font-size:30px;
}
.header-paragraph {
  float:left;
  padding:20px 15px 20px 15px;
  color:white;
}
.main {
  width:852px;
  height:px;
  background-color:#FFEEFF;
}
.main h1 {
  font-size:40px;
  text-align: center;
}
h3 {
  text-align:center;
}
.basic-policy p{
  text-align:center;
}
.showa-outline li {
  font-size:13px;
}
.overview {
  list-style: none;
}
img {
  text-align: center;
}
.footer {
  background-color:#4689FF;
  width:852px;
  height:85px;
}
.footer-logo {
  font-size:30px;
  color:white;
  padding:20px;
  float:left;
}
.footer a {
  float: right;
  padding:20px;
  margin-top:11px;
  margin-bottom:10px;
  color:white;
}
